$background-color-nav-modificado: #b3e0ff;
$background-color-header: hsl(204, 94%, 81%);
$main-color: #003366;
$footer-background-color: #003366;
$footer-text-color: #fff;
$button-background-color: #003366;
$button-hover-color: #002855;

